.messagesContainer {
    background-color: rgba(85, 136, 38, 0.70);
    margin: 4vh 10% 0 10%;
    display: flex;
    height: 90vh;
    width: 75vw;
    border-radius: 20px;
    flex-direction: column;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.messages {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 60px;
    overflow-y: auto;
}

.messages::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    margin-left: 4px;
}

.messages::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.3); /* Background color of the track */
    border-radius: 20px; /* To make it rounded */
}

.messages::-webkit-scrollbar-thumb {
    background: #e4e4e4; /* Background color of the scrollbar itself */
    border-radius: 20px; /* To make it rounded */
    transition: background 0.3s;
}

.messages::-webkit-scrollbar-thumb:hover {
    background: #c5c5c5; /* Background color of the scrollbar on hover */
    transition: background 0.15s;
}

.header {
    color: white;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;

}

.messageWrapper {
    width: 100%;
    text-align: right;

}

.message {
    background-color: rgb(161, 93, 52);
    max-width: 70%;
    display: inline-block;
    margin: 1% 0;
    padding: 5px 6px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    float: right;
    overflow-wrap: break-word;
}


.answer {
    background-color: rgba(100, 103, 97);
    max-width: 45%;
    display: inline-block;
    margin: 1%;
    padding: 0.5% 1%;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    float: left;
}
