.CenterContainer {
    background-color: rgba(85, 136, 38, 0.70);
    margin: 5% 10% 0 10%;
    display: flex;
    height: 100%;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
}

.CostumeHeader {
    font-size: 26px;
    color: white;
    text-align: center;
}

.CostumeDialog {
    font-size: 20px;
    color: white;
    text-align: left;
}

@media (max-width: 1200px) {
    .CostumeContainer {
        margin: 1% 1% 0 1%;
        padding: 5px
    }
    .CostumeHeader {
        font-size: 18px;
    }
    .CostumeDialog {
        font-size: 12px;
}
}
